.wrapper{
    background-color:white;
}
.content-container {
    padding: 40px 50px;
    border: 1px solid #e2e2e2;
    border-radius: 0.2em;
}
.flight-info{
    font-size:18px;
    color:#798eb1;
}
.title-line {
    height: 1.8em;
    position: relative;
    margin-bottom: 25px;
}
.title-line b {
    height: 100%;
    position: absolute;
    left: 50px;
    padding: 0 0.6em;
    z-index: 1;
    background-color:white;
    font-size:24px;
}
.title-line::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: #a6d1e1;
    z-index: 0;
}
.flight-info .info-content {
    height: 80px;
}
.info-content {
    padding: 0 30px;
}
.flight-info .info-content>* {
    float: left;
}
.flight-no {
    width: 150px;
    font-style: italic;
    font-size:24px;
    color:#204c94;
}
.flight-model{
    width:160px;
    font-size:20px;
}
.flight-model>span{
    border-radius: .2em;
    background-color:#00a1de;
    font-size:0.8em;
    color:white;
}
.flight-time{
    width:70px;
    margin-top:-8px;
    text-align:center;
}
.flight-time>div{
    font-size:14px;
}
.flight-info .info-content>* {
    float: left;
}
.flight-from{
    text-align:right;
}
.flight-from, .flight-to {
    padding: 0 8px;
    width: 150px;
    font-size:24px;
    color:#204c94;
}
.info-arrow {
    width: 140px;
    height: 100%;
    text-align: center;
}
.info-content .flight-class {
    float: right;
    margin-top: -15px;
    height: 62px;
    padding-top: 6px;
    width: 110px;
    border: 1px solid #a6d1e1;
}
.flight-class{
    border-radius: .2em;
    text-align:center;
    background-color:#fcfefe;
    text-transform:capitalize;
    color:#204c94;
    font-size:22px;
}