header{
    height:110px;
    background: white;
}
header li {
    float: right;
    margin-left: 30px;
    font-size: 18px;
    margin-top: 74px;
    text-transform: uppercase;
}
header li a{
    font-size:inherit;
}
header .logo{
    margin-top: 16px;
    float:left;
}
